@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

footer {
    width: 100%;
    height: 60px;
    background-color: rgb(3, 3, 138);
    font-size: 20px;
    color: white;
    font: inherit;
    display: flex;
    align-items: center;

    img {
        width: 45px;
        height: auto;
    }
}

header {
    display: flex;
    align-items: center;
    box-shadow: 15px 10px 25px  rgb(204, 200, 200);
    height: auto;

}

.menu1 {
    text-align: center;
    font-size: 125%;
    color: blue;
    text-decoration: none;
    border: px solid #0b03fc;
    border-radius: 20px;
    padding: 15px 0;
}

.menu1:hover {
    background-color: rgb(3, 3, 185);
    color: white;
}

.menu2 {
    text-align: center;
    font-size: 125%;
    text-decoration: none;
    padding: 5vh 0;
}

.fordcopyright {
    width: 100px;
    height: auto;
    margin-left: auto;
}

.carroinicial {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
    height: auto;

}


.textoranger {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logoford {
    width: 12%;
    height: auto;
    margin-right: 26%;

}

/*tela menor*/
@media (max-width: 480px) {
    
    footer {
        display: flex;
        width: auto;
        padding: 12%;
        margin-top: 50vh;
    }


    .fordcopyright {
        text-align: center;
        margin: 2%;
    }

    .carroinicial {
        width: 100%;
        height: auto;
        flex-direction: column;
    }


    .logoford {
        width: 30% auto;
    }

    .comparar{
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        text-shadow: none;
        cursor: pointer;
    }
    
    #video-ford-carro {
        width: 60% auto;
        display: flex;
        margin: 20px auto;
        background-color: black;
        padding-inline: 16em auto;
        flex-direction: column;
    }
    
    .textorangerr{
        color: rgb(54, 131, 255);
    }
    
    .car-selection {
        display: flex;
        flex-direction: column;
        gap: auto;
        margin-top:auto;
    }
    
    .car-option {
        display: flex;
        flex-direction: column;
      
    }
    
    .car-option img {
        width: 2000x;
        height: auto;
        border-radius: 8px;
        cursor: pointer;
        transition: transform 0.2s;
    }
    
    .comparar{
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20vh;
        text-shadow: none;
        cursor: pointer;
     
        
    }
    
    .form-container{
        flex-direction: column;
    }
    
}


/* tela maior */
@media (min-width: 1400px) {
    footer {
        display: flex;
        width: 100%;
        height: 90px;
        padding: 1px;
        margin-top: 10%;
    }

    .container{
        width: 100%;
        margin: 0 auto;
    }
    .menu1{
        text-align: center;
        margin-left: 7vh;
    }

    .fordcopyright {
        margin-left: auto;
        text-align: center;
    }

    .carroinicial {
        margin: 0 auto;
        width: 75%;
        max-width: 1200px;
        height: auto;
    }

    .textoranger {
        text-align: center;
        margin: 0 auto;
    }

    .logoford {
        width: 8%;
    }
    #video-ford-carro {
        width: 60% ;
        display: flex;
        margin: 20px;
        background-color: black;
        padding-inline: 20em;
    }
    
    .textorangerr{
        color: rgb(54, 131, 255);
    }
    
    .car-selection {
        display: flex;
        justify-content: center;
        gap: 20px auto;
        margin-top: 20px;
    }
    
    .car-option {
        display: flex;
        align-items: center;
    }
    
    .car-option img {
        width: 2000x;
        height: auto;
        border-radius: 8px;
        cursor: pointer;
        transition: transform 0.2s;
    }
    
    .comparar{
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        text-shadow: none;
        height: 40px;
        width: 1000px;
        cursor: pointer;
        margin-left: 25vh;
    }
}

/*css do site lançamento*/
#video-ford-carro {
    width: 60%;
    display: block;
    margin: 20px auto;
    background-color: black;
    padding-inline: 16em;
}
.textorangerr{
    color: rgb(54, 131, 255);
}

.car-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.car-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-option img {
    width: 2000x;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.car-option img:hover {
    transform: scale(1.05);
}

.car-option input {
    margin-top: 10px;
    width: 100px;
    height: 40px;
}

.comparar{
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    height: 40px;
    width: 600px;
    cursor: pointer;
    margin-left: 55vh;
}
@keyframes Anima {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }

}

.comparar:hover {
    animation-name: Anima;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}





/* css do site de contato*/
.submit {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height: 30px;
    width: 100px;
    cursor: pointer;

}

@keyframes Anima {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }

}

.submit:hover {
    animation-name: Anima;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

.form-container {
    display: flex;
    align-items: center; 
    justify-content: start; 
    gap: 30px; 
    max-width: 900px; 
    margin: 50px auto; 
    margin-bottom: 15%;
}
/*lançamento*/
.carroiradofodastico {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.contatows {
    width: 400px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: #f9f9f9;
}

